---
---

@import "{{ site.theme }}";

html {
    font-size: 100%;
	background: $black url(Fire Background.jpg) no-repeat center center fixed;
	background-size: cover;
	color: $white;
}

body {
    font: 18px/1.4 $helvetica;
    color: $white;
}
